html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#contentBox {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    align-items: center;
}

#nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 15vh;
    width: 150vh;
    align-items: center;
    z-index: +99;
    background-color: black;
    /* background-color: whitesmoke; */
}

#nav0 {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    height: 15vh;
    width: 150vh;
    align-items: center;
    z-index: +99;
    background-color: black;
}

a {
    text-decoration: unset;
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.25rem;
    color: whitesmoke;
    margin: 2vh;
    font-size: 1.5rem; 
}

 .link:hover {
    border-bottom: rgb(133, 162, 255) 0.5rem solid;
    padding: 2vh;
    /* opacity: 0.8; */
} 



#nav img {
    width: 20vh;
    height:20vh;
    margin-top: 5vh;
}

#links {
    justify-self: flex-end;
}

#hero {
    margin-top: 15vh;
    align-self: center;
    position: relative;
}
/* Grid full of images */
.imgGrid {
    display: grid;
    grid-template-rows: repeat(3, 25vh);
    grid-template-columns: repeat(6, 25vh);
    position: relative;
}

#filter {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgb(57, 95, 223);
    opacity: 0.5;
}

#treats {
    margin-top: 15vh;
}

.treat {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    background-color: rgba(140, 174, 236, 0.5);
    /* border: cornflowerblue 5px solid ; */
    margin-top: 10vh;
}

.gridContainer {
    position: relative;
    
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 25vh);
    grid-template-columns: repeat(3, 25vh);
    position: relative;
    padding: 5vh;
}


/* Grid full of text */
.txtGrid {
    /* background-color: coral; */
    position: absolute;
    top: 0;
    text-align: center;
    
}


.gridTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 25vh;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0);
    font-weight: bolder;
}

.gridTxt:hover{
    position: relative;
    background-color: rgba(245, 245, 245, 0.55);
    color: rgb(0, 0, 0);

}

.subtitle, .title {
    text-align: center;
}

.title {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2rem;
    border-bottom: whitesmoke 0.5rem solid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0.5rem;
}

#thumbnail {
    position: absolute;
    bottom: 0vh;
    left: 40vh;
    z-index: +99;
    height: 70vh;
    width: 70vh; 
}

 /* images that are in the grid */
.gridImage{
   height: 25vh;
   width: 25vh;
   border: black 1px solid;
   object-fit: cover;
}

#info {
    margin-top: 15vh;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2rem;
    border-bottom: whitesmoke 0.5rem solid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
}

iframe {
    width:75vh;
    height:50vh;
   
}

